@-ms-viewport {
    width: device-width !important;
}

/* Removed Elements */
#header-wrap, 
.bootstrapped .nav-container,
.theme-picker,
.view-switcher,
#assignments-toggle,
#footer-links,
.content-box-top,
.content-box-bottom,
#playlist-bar,
#shell-outer,
#footer-copyright,
#assignments > table > thead > tr > th:nth-child(2),
#assignments > table > tbody > tr > td:nth-child(2),
#assignments > table > thead > tr > th:nth-child(4),
#assignments > table > tbody > tr > td:nth-child(4),
#tab2 > div.content-box > div.content-box-inner > div.toolbar > div.btn-toolbar {
    display: none !important;
}

input {
  width: 95% !important;
}



.bootstrapped .container,
.outer-wrapper {
    margin: 0px;
    padding: 0px 0px 20px 0px;
    width: auto;
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
}

#loginDiv {
    padding: 0px 20px;
}

body {
    min-width: 0px !important;
    overflow-x: hidden;
}

html {
    background: #FFF;
}

#scroll-content {
	background: #FFF !important;
}

#de-content-wrapper,
.outer-container {
    padding: 0px !important;
}

.intro {
    margin: 20px !important;
}

.content-box {
    background: none !important;
}

.blog-item h3 {
    text-align: left !important;
}

.post-publisher a {
    display: block;
}

/*
    Video Player Customization
*/

.lightbox-open-player {
    display: none;
}

.video-container {
}