html, body {
    -ms-overflow-style: none !important;
}

body {
    min-width: 0px !important;
}

.blog-item .span8 {
    text-align: left !important;
}

#footer-links,
#header-wrap,
.nav-container,
.view-switcher,
.btn-toolbar,
.intro,
#assignments-toggle,
#playlist-bar {
	display: none !important;
}

#container {
    background-color: #FFF;
}

.bootstrapped .theme-picker {
    top: 0px;
}

#de-content-wrapper, 
.bootstrapped .outer-container {
	padding: 0px;    
}

.bootstrapped .container {
    position: relative;
    width: auto;
    padding: 0px;
    margin: 0px auto;
    box-shadow: none;
	border-radius: 0px;
}

.fc-border-separate td {
    border: 1px solid #DDD;
}

table.fc-border-separate {
    border-collapse: collapse !important;
}

#scroll-content {
    background-position-y: 0px !important;
}

@media screen and (max-width: 990px) {
    .theme-picker {
		display: none;
	}
    #scroll-content {
		background: none !important;
    }

}

@media screen and (max-width: 700px) { 
    #assignments > table > thead > tr > th:nth-child(2),
    #assignments > table > tbody > tr > td:nth-child(2) {
		display: none !important;
	}
    
    .filter select {
		width: 100%;
	}
}

@media screen and (max-width: 480px) { 
    #assignments > table > thead > tr > th:nth-child(4),
    #assignments > table > tbody > tr > td:nth-child(4),
    #assignments > table > thead > tr > th:nth-child(5),
    #assignments > table > tbody > tr > td:nth-child(5) {
		display: none !important;
	}
}
