<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="25429OzTheTechGuy.MyAssignmentsBeta" Version="1.1.0.0" Publisher="CN=54815B6D-06C5-483A-B32C-1999F14DB926" />
  <Properties>
    <DisplayName>My Assignments Beta</DisplayName>
    <PublisherDisplayName>Oz The Tech Guy</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="template/wat-wrapper.html">
      <m2:VisualElements DisplayName="My Assignments Beta" Description="DEAssignmentsWAT" ForegroundText="light" BackgroundColor="#0073a3" Square150x150Logo="images\Logo.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile Wide310x150Logo="images\widelogo.png" DefaultSize="wide310x150Logo" Square70x70Logo="images\Square70x70Logo.png" Square310x310Logo="images\Square310x310Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#0073a3" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <ApplicationContentUriRules>
        <Rule Match="https://*.discoveryeducation.com" Type="include" />
      </ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>